<header>
  <nav class="navber navber-expand-lg navber-dark bg-dark">
    <div class="container">
      <a class="navber-brand" href="#">
        <span class>Bookers</span>
      </a>
      <button class="navber-toggler" type="button" data-toggle="collapse" data-target="navberNavDropdown" aria-controls="navberNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navber--toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>